site_name: CloudGrip Documentation
site_url: https://ca8-io.github.io/cloudgrip-docs/
theme:
  name: material
  logo: assets/img/logo.png
  favicon: assets/img/logo.png
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    # - toc.integrate
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
  language: en
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

# plugins:
#   - social
#   - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/ca8-io
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/cloudautom8/
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Home: index.md
  - Getting Started:
      - Overview: getting-started/overview.md
      - Installation: getting-started/installation.md
      - Configuration: getting-started/configuration.md
  - Setup:
      - Overview: setup/overview.md
      - Tenant: setup/tenant.md
      - Management Group: setup/managementgroup.md
      - Subscription: setup/subscription.md
  - Configuration:
      - Deployments: configuration/deployments.md
      - Pre and Post Scripts: configuration/pre-post-deploymentscripts.md

copyright: |
  &copy; 2025 <a href="https://ca8.io"  target="_blank" rel="noopener">Cloud Autom8</a>
